<template>
<div class="Dashboard">
   <LeftBar :drawer="drawer"></LeftBar> 
    <TopBar v-on:childToParent="onChildClick"></TopBar>

    <h1 class="subheading grey--text">Dashboard</h1>
   
    
    <v-app class="grey lighten-4">

      <v-container class="mx-12 mb-4">
        <router-view></router-view>
      </v-container>

    </v-app>
     
</div>
</template> 
  

<script>
import TopBar from './Topbar'
import LeftBar from './Sidebar'
const gradients = [
                      ['rgb(247, 238, 158)','#FF9190'],
                      ['rgb(77, 255, 225)','#4EBCFA'],
                      [' rgb(247, 238, 158) ','rgb(4, 219, 169) '],
                      ['#FBC071', '#FF8701'], 
                      ['#0026FF', '#2548E6'], 
                  ]
export default {
  components: {
    TopBar : TopBar,
    LeftBar : LeftBar
  },
   methods: {
    // Triggered when `childToParent` event is emitted by the child.
    onChildClick (value) {
      this.drawer = value
    }
  },
  data () {
      return {
         fill:true,
        gradient: gradients[5],gradients,
        padding: 8,
        radius: 5,
        value: [0, 2, 5, 8, 5, 6, 3, 5, 0, 2, 1, 6, 2, 3, 0],
        width: 2,
        drawer:true,
      }
   },
 
};

</script>

<style>
      
      .card-box{

      }
        
</style>
