<template>
  <div class="home">
     <v-container>
    <v-row>
      <v-col cols="4" class="mx-auto shadow mt-16">
       <v-card elevation="0" class="pa-4">
       <h2 class="mb-4">Login </h2>
        <form @submit.prevent="pressed">
          <v-text-field
            v-model="email"
            outlined
             name="email"
            id="email"
            label="Email"
            required
          ></v-text-field>
          <v-text-field
           v-model="password"
            outlined
            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required, rules.min]"
            :type="show1 ? 'text' : 'password'"
            name="password"
            id="password"
            label="Password"
            counter
            @click:append="show1 = !show1"
          ></v-text-field>
          <v-btn
            class="mr-4"
            color="primary"
            tile
            outlined
            type="submit"
          >
            login
          </v-btn>
        </form>
        
        </v-card>
      </v-col>
    </v-row>
  </v-container>
  </div>
</template>


<script>
    import firebase from "../firebase-config";
    const db = firebase.firestore();
   export default {
    data () {
      return {
        show1: false,
        show2: true,
        show3: false,
        show4: false,
        password: '',
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 5 || 'Min 5 characters',
        },


        email:'',

      }
    },

    methods:{
      async pressed(){
        let _self = this
       db.collection("Admin").get().then(function(querySnapshot) {
					querySnapshot.forEach(function(doc) {
            if (_self.email == doc.data().email  && _self.password==doc.data().password ) {
              alert("success")
              _self.$router.push({
                name:'Dashboard'
              })
            } else {
              alert("no")
            }
					});
				});
				
      }
      // onLogin(){
      //   console.log({email:this.email,password:this.password})
      // }
    }
  }
</script>

<style scoped>
.shadow{
  box-shadow: 0px 0px 62px 0px rgba(0, 0, 0, 0.07);
}
</style>
