<template>
<v-navigation-drawer v-model="drawer"
     app 
     dark
     fixed
    >
     <v-layout column align-center>
        <v-flex class="mt-5">
          <v-avatar size="100">
            <img class="text-lg-center" src="../assets/user.png">
          </v-avatar>
          <p class="white--text text-center subheading mt-3">Admin</p>
        </v-flex>
      </v-layout>
    
    <v-flex class="mt-4">
    </v-flex>
  
      <v-list>
        <v-list-item
          v-for="item in items"
          :key="item.title"
          :to="item.route"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      
    </v-navigation-drawer>
</template>
<script>

export default {
    props: ['drawer'],
  data () {
      return {
        items: [
          { title: 'Dashboard', icon:'mdi-view-dashboard', route: {name:'Dashboard'} },
          { title: 'Users', icon: 'mdi-account-multiple', route: {name:'Users'} },
          { title: 'Rings', icon: 'mdi-bell-ring', route: {name: 'Rings'} },
          { title: 'Vouchers', icon: 'mdi-wallet-giftcard', route:{name:'Vouchers'} },
        ],
      }
   }
  
};
</script>

<style>


.v-navigation-drawer {
background-color: #2a3042 !important;


}
</style>