<template>
<v-app-bar
      app
    >
      <v-app-bar-nav-icon class="white--text" @click="emitToParent"></v-app-bar-nav-icon>

      <v-toolbar-title ><span class="text-uppercase white--text font-weight-bold">Ringin Admin</span>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      

      
    </v-app-bar>

</template>
<script>
export default {
    data() {
    return {
      drawer: true
    }
  },
  name: 'Child',
  methods: {
    // Define the method that emits data to the parent as the first parameter to `$emit()`.
    // This is referenced in the <template> call in the parent. The second parameter is the payload
    emitToParent () {
        this.drawer = !this.drawer;
      this.$emit('childToParent', this.drawer)
    }
  }
}
</script>
<style>
        .v-app-bar{
         background-color: #2a3042 !important;
        }
                    
        
</style>