<template>
<div class="Dashboard">
   <LeftBar :drawer="drawer"></LeftBar> 
    <TopBar v-on:childToParent="onChildClick"></TopBar>
    <v-data-table
    :headers="headers"
    :items="desserts"
    sort-by="calories"
   class="elevation-1 px-5 pt-3"
  >
    <template v-slot:top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Rings</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              Create Voucher
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.campaigner"
                      label="Campaigner"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.isactive"
                      label="Is Active"
                    ></v-text-field>
                  </v-col>
                   <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.voucheramount"
                      label="Voucher Amount"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.vouchercurrency"
                      label="Voucher Currency"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.vouchermessage"
                      label="Voucher Message"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancel
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="headline">Are you sure you want to delete this item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:[`item.actions`]="{ item}">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn
        color="primary"
        @click="initialize"
      >
        Reset
      </v-btn>
    </template>
  </v-data-table>
    <v-app class="grey lighten-4">

      <v-container class="mx-12 mb-4">
        <router-view></router-view>
      </v-container>

    </v-app>
     
</div>
</template>
  

<script>
import TopBar from './Topbar'
import LeftBar from './Sidebar'
export default {
    components: {
    TopBar : TopBar,
    LeftBar : LeftBar
  },
  

   data: () => ({
      dialog: false,
      dialogDelete: false,
      headers: [
        {
          text: 'Campaigner',
          align: 'start',
          sortable: false,
          value: 'campaigner',
        },
        { text: 'Is Active', value: 'isactive' },
        { text: 'Voucher Amount', value: 'voucheramount' },
        { text: 'Voucher Currency', value: 'vouchercurrency' },
        { text: 'Voucher Message', value: 'vouchermessage' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      desserts: [],
      editedIndex: -1,
      editedItem: {
        campaigner: '',
        isactive: '',
        vouchercurrency: '',
        voucheramount: '',
        vouchermessage: '',
      },
      defaultItem: {
        campaigner: '',
        isactive: '',
        vouchercurrency: '',
        voucheramount: '',
        vouchermessage: '',
      },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },
    },

    created () {
      this.initialize()
    },

    methods: {
         onChildClick (value) {
            this.drawer = value
            },
      initialize () {
        this.desserts = [
          {
            campaigner: 'Tazz Cricket',
            isactive: "true",
            voucheramount: 20,
            vouchercurrency: '$',
            vouchermessage: 'Complete your profile at least 70% to get Tazz Cricket voucher.',
          },
          {
             campaigner: 'Tazz Cricket',
            isactive: "true",
            voucheramount: 20,
            vouchercurrency: '$',
            vouchermessage: 'Complete your profile at least 70% to get Tazz Cricket voucher.',
          },
          {
             campaigner: 'Tazz Cricket',
            isactive: "true",
            voucheramount: 20,
            vouchercurrency: '$',
            vouchermessage: 'Complete your profile at least 70% to get Tazz Cricket voucher.',
          },
          {
             campaigner: 'Tazz Cricket',
            isactive: "true",
            voucheramount: 20,
            vouchercurrency: '$',
            vouchermessage: 'Complete your profile at least 70% to get Tazz Cricket voucher.',
          },
        ]
      },

      editItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialog = true
      },

      deleteItem (item) {
        this.editedIndex = this.desserts.indexOf(item)
        this.editedItem = Object.assign({}, item)
        this.dialogDelete = true
      },

      deleteItemConfirm () {
        this.desserts.splice(this.editedIndex, 1)
        this.closeDelete()
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      closeDelete () {
        this.dialogDelete = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      },
    },
  
}
</script>>

<style>
      
  
        
</style>
